* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h1 + div {
    max-width: 600px;
    padding-bottom: 15px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

.first-block {
    display: block;
    text-align: center;
}

form > section {
    display: flex;
}