* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 + div {
    max-width: 600px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-bottom: 10px;
}
